.git
.github
.env
.env.*
.idea
.phpunit.cache
.phpunit.result.cache
.vscode
database/*.sqlite
node_modules
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
tests
vendor
